.tx-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.min-w-0 {
  min-width: 0;
}

li:last-child {
  border-bottom: 0 !important;
}
